.container {
  width: 750px;
}

body {
  background: #87cdf1;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #f73438;
  font-size: 150%;
  font-weight: bold;
  padding: 15px;
}

a.signup_button:hover
{
    font-weight: lighter;
    text-decoration: none;
}

/* Round corners */

.round {
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.actions {
  margin-bottom: 10px;
}

div.field {

  margin-bottom: 10px;
  min-width : 30px;
  min-height: 10px;
}

.field_with_errors {
  margin-top: 5px;
  padding: 1px;
  background-color: #f84448;
  display: table;
}

#error_explanation {
  width: 400px;
  border: 2px solid #f84448;
  padding: 7px;
  padding-bottom: 10px;
  padding-top: 4px;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 9px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #f84448;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


<tr>
  <td class="report">
    <span class="kind_of">exp/inc <%=planner.kind_of %></span>
    <span class="time">Added: <%=planner.time %></span>
    <span class="money"> <%=planner.money %>$</span>
    <span class="comments"><%=planner.comments %></span>
  </td>
</tr>




table.planners {
  margin-top: 1em;
}

table.planners tr {
  height: 70px;
}

table.planners tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.planners tr td.planner {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

span.kind_of, span.money, span.time {

    width: 20px
}

span.comments {
     width: 100px;
    font-size: 20px;

}