<tr>
  <td class="planner">
    <span class="kind_of"><%=planner.kind_of %></span>
    <span class="time"><%=planner.time %></span>
    <span class="money"> <%=planner.money %>$</span><br />
    <span class="comments">Comments:<br/><%=planner.comments %></span>
  </td>
</tr>
