    <h1>About Us</h1>
    <p>
      Finance Planner is a convenient web-based application
      that allows you to monitor your money wisely and plan your expenses.
      Now you do not think what happened to all of your salary a week after
      receiving it or over it is possible to live to 200 hrn. per week.
      Wherever you are - you can always get information about life of your
      wallet
    </p>