    <h1>Contact</h1>
    <p>
      <table border="0">
        <tr>
          <td><b>name:</b></td>
          <td>Yevtushenko Yevhenii</td>
        </tr>
        <tr>
          <td><b>e-mail:</b></td>
          <td>ye.yevtushenko@gmail.com</td>
        </tr>
        <tr>
          <td><b>phone:</b></td>
          <td>+380 93 597 24 34</td>
        </tr>
        <tr>
          <td><b>job:</b></td>
          <td>not yet in Railsware :)</td>
        </tr>
      </table>
    </p>