<h1>WELCOME!!!</h1>

<p>
 Welcome to the main page of Finance Planner application.
  If you have not yet with us - click on the button below.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>