<tr>
  <td class="report">
    <span class="kind_of"><%= report.kind_of %></span>
    <span class="date"><%= report.date%></span>
    <span class="money"><%= report.money %></span>
    <span class="comments"><%= report.comments %></span>
  </td>
</tr>